# Wechaty
WECHATY_PUPPET="wechaty-puppet-wechat4u"
WECHATY_TOKEN=""

# 基础配置
ADMINROOM_ADMINROOMTOPIC="替换为你的管理员群名称" # 管理群名称，需尽量保持名称复杂，避免重名群干扰

# 维格表配置
VIKA_SPACE_ID="替换为你的维格表空间ID" # 维格表空间ID
VIKA_TOKEN="替换为你的维格表token" #维格表token
ENDPOINT="http://127.0.0.1:9503" # 维格表API地址

# --------------------------------分割线--------------------------------
# 以下配置无需关注，功能实现中，暂未使用，仅需要配置上面的配置即可

# 飞书多维表格配置
LARK_APP_ID="" # 飞书多维表格应用ID
LARK_APP_SECRET="" # 飞书多维表格应用Secret
LARK_BITABLE_APP_TOKEN="" # 飞书多维表格应用Verification Token
LARK_APP_USER_MOBILE="" # 飞书用户手机号，用于获取用户信息

# MQTT配置
MQTT_USERNAME="" # MQTT连接配置信息
MQTT_PASSWORD="" # MQTT连接配置信息
MQTT_ENDPOINT=broker.emqx.io/mqtt # MQTT连接配置信息
MQTT_PORT=8883 # MQTT连接配置信息

# 备份
# 暂未使用
CHATGPT_MODEL=gpt-3.5-turbo-16k # ChatGPT模型，可选gpt-3.5-turbo-16k、gpt-3.5-turbo、gpt-3.5、gpt-3

# ERNIE
ERNIE_AK="" # 请填写百度云文心大模型的AK
ERNIE_SK="" # 请填写百度云文心大模型的SK

MESSAGE_WEB_HOOK=https://3sewxanjdvsbp.cfc-execute.bj.baidubce.com/mqtt # 消息代理服务地址

# 群管理秘书小程序
GROUP_MASTER_ENDPOINT="" # 群管理秘书接入点
GROUP_MASTER_KEY="" # 群管理秘书KEY
GROUP_MASTER_USE=false # 开启或关闭群管理功能

# langchain配置信息
OPENAI_API_KEY=ADD_YOUR_VALUE
OPENAI_API_BASE_URL=https://api.openai-proxy.com
OPENAI_MODEL=gpt-3.5-turbo
OPENAI_ENDPOINT=https://api.openai-proxy.com/v1/chat/completions